/* Nav Bar */
.navbar {
  max-height: 50px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: green;
}
.navigation .navbar-brand {
  color: white;
  margin-left: 0px;
  padding: inherit;
  font-weight: bold;
  background-color: red;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: rgb(255, 255, 255);
  font-size: 25px; 
}
.active, .dropdown-menu .dropdown-item:active a:hover {
  background-color: black !important;
}
.dropdown-item {
  color: rgb(94, 123, 250) !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  color: #213159 !important;
}

.nav-link:hover {
  background-blend-mode: lighten;
  color: #213159 !important;
 }

.navbar-brand:hover {
color: #213159 !important;
}

a {
  color: #213159;
  font-size: 20px;
}

/* Drop Drown in Nav */
@media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #213159 !important;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: white;
  }
  .navbar-brand {
    padding: 10px !important;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
}

/* Page Header Element */
.header {
  color: white;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
}

/* Body Elements */
/* Title */
.title {
  color: #213159;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
}

/* Paragraphs */
p {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Images */
img{
  width:100% !important;
  height:100% !important;
}
.active, .panel:hover {
  border-color:#213159;
  border-style: solid;
  
}
.vizualization {
  width:65% !important;
  height:65% !important;
  padding-right: 15px;
}

/* Boxes */
.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 30px 10px;
  color: #213159;
  background-color: honeydew;
}

/* Footer */
/* Footer */
footer {
  background-color: rgb(0, 177, 24);
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #213159;
  color: white;
  min-height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  }

